.texto-centralizado {
  text-align: center;
}

.theme-colors,
.header-sticky.sticky-bar {
  background: #ff3d02;
  background: -moz-linear-gradient(top, #ff3d02 0%, #ec663d 100%);
  background: -webkit-linear-gradient(top, #ff3d02 0%, #ec663d 100%);
  background: linear-gradient(to bottom, #ff3d02 0%, #ec663d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c054ff', endColorstr='#5274ff',GradientType=0 );
}

.custom-botton {
  align-items: center;
}

.footer-bg {
  background: #dc320c;
}

.btn {
  background: #f8020e;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #f54f02;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0px;
}

h4,
h5,
h6,
p {
  font-family: "Josefin Sans", sans-serif;
  color: #050505;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
}

.salario {
  font-family: "Josefin Sans", sans-serif;
  color: #050505;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #520404;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
}

h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #7e2424;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
}

.botao {
  align-items: center;
  text-align: center;
}
